﻿@model IEnumerable<TbEntries>
@using Microsoft.EntityFrameworkCore

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Card Id
                        </th>
                        <th>
                            Visitor's name
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderByDescending(x=>x.Datetime))
                    {
                        <tr>
                            <td>
                                @item.IdCard
                            </td>
                            <td>
                                @(item.IdCardNavigation.Surname + ", "+ item.IdCardNavigation.Name)
                            </td>
                            <td>@(item.Datetime.ToString("dd.MM.yyyy HH:mm:ss"))</td>
                            <td>
                                @{
                                    if (item.IsCheckedIn)
                                    {
                                        <div class="label label-success">CHECKED-IN</div>
                                    }
                                    else
                                    {
                                        <div class="label label-danger">CHECKED-OUT</div>
                                    }
                                }
                                
                            </td>
                            
                        </tr>
                                        }
                </tbody>
            </table>
                                        }
                                        else
                                        {
            <h3>No check-in and check-out entries</h3>

            }

    }
}
<div class="modal fade" id="modal_add_entry" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bgm-lightblue"><h4 class="modal-title c-white"><i class="zmdi zmdi-book"></i> Check-in and check-out</h4></div>
            <div class="modal-body">
                <form class="form-horizontal">
                    @{
                        using (aspnet_entryProject_1ec08db8_47b0_4fae_82d7_4da8440d3aa6Context dataSource = new aspnet_entryProject_1ec08db8_47b0_4fae_82d7_4da8440d3aa6Context())
                        {
                            <div class="form-group">
                                <label for="entry_add_visitor" class="col-sm-3 control-label">Pick the visitor</label>
                                <div class="col-sm-9">
                                    <div class="fg-line">
                                        <select class="selectpicker" data-live-search="true" id="entry_add_visitor">
                                                @{
                                                    foreach (var visitor in dataSource.CsCard.Include(x => x.TbEntries).OrderBy(x=>x.Surname))
                                                    {
                                                        var lastVisit = visitor.TbEntries.OrderByDescending(x => x.Datetime).FirstOrDefault();
                                                        if (lastVisit != null)
                                                        {
                                                            if (lastVisit.IsCheckedIn)
                                                            {
                                                                <option value="@(visitor.IdCard)">@("ID "+visitor.IdCard+" : " + visitor.Surname + ", "+ visitor.Name + ":CHECKED IN")</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@(visitor.IdCard)">@("ID "+visitor.IdCard+" : " + visitor.Surname + ", "+ visitor.Name + ":CHECKED OUT")</option>

                                                            }

                                                        }
                                                        <option value="@(visitor.IdCard)">@("ID "+visitor.IdCard+" : " + visitor.Surname + ", "+ visitor.Name + ":CHECKED OUT")</option>
                                                    }
                                                }
                                                    
                                        </select>
                                    </div>
                                </div>
                            </div>
                                                }
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-success" id="btnCheckIn" data-dismiss="modal">Check-in</button>
                <button class="btn btn-warning" id="btnCheckOut" data-dismiss="modal">Check-out</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".selectpicker").selectpicker();
        $('.bootstrap-select').attr("style", "width:100%");

        $("#btnCheckIn").on("click", function () {
            $.ajax({
                url: '/Entries/checkIn',
                type: 'POST',
                data: { id: $("#entry_add_visitor").val() },
                success: function (data) {
                    notify("SUCCESS! Checked-in", "success");
                    $("#entriesPartial").html(data);
                },
                error: function (data) {
                    notify("Error! Unable to check-in. Reason:" + data.responseText, "danger");
                }
            })
        });
        $("#btnCheckOut").on("click", function () {
            $.ajax({
                url: '/Entries/checkOut',
                type: 'POST',
                data: { id: $("#entry_add_visitor").val() },
                success: function (data) {
                    notify("SUCCESS! Checked-out", "success");
                    $("#entriesPartial").html(data);
                },
                error: function (data) {
                    notify("Error! Unable to check-out. Reason:" + data.responseText, "danger");
                }
            })
        });
    });

</script>