﻿@model IEnumerable<TbEntries>
<h1>Entries management</h1>
<button class="btn btn-primary" data-target="#modal_add_entry" data-toggle="modal">Add check-in or check-out</button>
<div id="entriesPartial">
    @{await Html.RenderPartialAsync("EntriesPartial", Model);}
</div>