﻿@model IEnumerable<CsCard>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(x=>x.Surname))
            {
            <tr>
                <td>
                    @{ if (item.Active)
                        {
                            <div class="label label-success">ACTIVE</div>
                        }
                        else
                        {
                            <div class="label label-warning">INACTIVE</div>
                        }
                    }
                   

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>         
                       <button class="btn btn-sm btn-warning btnDeactivateCard" data-toggle="modal" data-target="#modal_deactivateCard" id="@item.IdCard" title="Deactivate card"><i class="glyphicon glyphicon-remove-circle"></i></button>
                                <button class="btn btn-sm btn-success btnActivateCard" id="@item.IdCard" data-toggle="modal" data-target="#modal_activateCard" title="Activate card"><i class="glyphicon glyphicon-check"></i></button>
                    <button class="btn btn-sm btn-danger btnDeleteCard" id="@item.IdCard" data-toggle="modal" data-target="#modal_deleteCard" title="Delete card"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $("#btn_create_card").on("click", function () {
            $.ajax({
                url: '/Cards/createVisitorsCard',
                type: 'POST',
                data: { name: $("#create_card_name").val(), surname: $("#create_card_surname").val(), active:true },
                success: function (data) {
                    notify("SUCCESS! Card added", "success");
                    $("#partialCards").html(data);
                },
                error: function (data) {
                    notify("Error! Unable to create id card. Reason:" + data.responseText, "danger");
                }
            })
        });

        $("#btn_activate_card").on("click", function () {
            $.ajax({
                url: '/Cards/activate',
                type: 'POST',
                data: { id: $("#modal_activateCard_id").text() },
                success: function (data) {
                    notify("SUCCESS! Card activated", "success");
                    $("#partialCards").html(data);
                },
                error: function (data) {
                    notify("Error! Unable to activate card. Reason:" + data.responseText, "danger");
                }
            })
        });

        $("#btn_deactivate_card").on("click", function () {
            $.ajax({
                url: '/Cards/deactivate',
                type: 'POST',
                data: { id: $("#modal_deactivateCard_id").text() },
                success: function (data) {
                    notify("SUCCESS! Card deactivated", "success");
                    $("#partialCards").html(data);
                },
                error: function (data) {
                    notify("Error! Unable to deactivate card. Reason:" + data.responseText, "danger");
                }
            })
        });
        $("#btn_delete_card").on("click", function () {
            $.ajax({
                url: '/Cards/deleteVisitorsCard',
                type: 'POST',
                data: { id: $("#modal_deleteCard_id").text() },
                success: function (data) {
                    notify("SUCCESS! Card deleted", "success");
                    $("#partialCards").html(data);
                },
                error: function (data) {
                    notify("Error! Unable to delete card. Reason:" + data.responseText, "danger");
                }
            })
        });

        $(".btnDeactivateCard").on("click", function () {
            $("#modal_deactivateCard_id").text($(this).attr("id"));

        });
        $(".btnDeleteCard").on("click", function () {
            $("#modal_deleteCard_id").text($(this).attr("id"));
        });
        $(".btnActivateCard").on("click", function () {
            $("#modal_activateCard_id").text($(this).attr("id"));
        });

    });
</script>