﻿@model IEnumerable<CsCard>
<h1>Visitor cards management</h1>
    <p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#modal_createCard">Create card</button>
    </p>
<div id="partialCards">
    @{await Html.RenderPartialAsync("CardsPartial", Model.OrderBy(x=>x.Surname));}
</div>


<div class="modal fade" id="modal_createCard" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bgm-lightblue"><h4 class="modal-title c-white"><i class="zmdi zmdi-rss"></i> Create a visitors card</h4></div>
            <div class="modal-body">
                <form class="form-horizontal" id="create_card_form">
                    <div class="form-group">
                        <label for="create_card_name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <div class="fg-line">
                                <input type="text" required class="form-control input-sm" id="create_card_name" placeholder="Enter visitor's name ">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="create_card_surname" class="col-sm-3 control-label">Surname</label>
                        <div class="col-sm-9">
                            <div class="fg-line">
                                <input type="text" required class="form-control input-sm" id="create_card_surname" placeholder="Enter visitor's surname ">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="btn_create_card" data-dismiss="modal">Add new visitor's card</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_deactivateCard" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bgm-lightblue"><h4 class="modal-title c-white"><i class="zmdi zmdi-rss"></i> Deactivate card</h4></div>
            <div class="modal-body">
                Do you really want to deactivate this card?
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-warning" id="btn_deactivate_card" data-dismiss="modal">Deactivate!</button>
            </div>
        </div>
    </div>
    <span style="display:none" id="modal_deactivateCard_id"></span>
</div>
<div class="modal fade" id="modal_activateCard" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bgm-lightblue"><h4 class="modal-title c-white"><i class="zmdi zmdi-rss"></i> Activate card</h4></div>
            <div class="modal-body">
                Do you really want to activate this card?
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-success" id="btn_activate_card" data-dismiss="modal">Activate!</button>
            </div>
        </div>
    </div>
    <span style="display:none" id="modal_activateCard_id"></span>
</div>
<div class="modal fade" id="modal_deleteCard" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bgm-lightblue"><h4 class="modal-title c-white"><i class="zmdi zmdi-rss"></i> Delete card</h4></div>
            <div class="modal-body">
                Do you really want to delete this card with all check-in and check-out entries?
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" id="btn_delete_card" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
    <span style="display:none" id="modal_deleteCard_id"></span>
</div>


